[package]
name = "spider_examples"
version = "1.7.7"
authors = ["madeindjs <contact@rousseau-alexandre.fr>", "j-mendez <jeff@a11ywatch.com>"]
description = "Multithreaded web crawler written in Rust."
repository = "https://github.com/madeindjs/spider"
readme = "README.md"
keywords = ["crawler", "spider"]
categories = ["web-programming"]
license = "MIT"
documentation = "https://docs.rs/spider"
publish = false

[badges]
maintenance = { status = "as-is" }

[dependencies.spider]
version = "1.7.7"
path = "../spider"
default-features = false

[[example]]
name = "example"
path = "example.rs"