[package]
name = "spider"
version = "1.5.1"
authors = ["madeindjs <contact@rousseau-alexandre.fr>", "j-mendez <jeff@a11ywatch.com>"]
description = "Multithreaded web crawler written in Rust."
repository = "https://github.com/madeindjs/spider"
readme = "README.md"
keywords = ["crawler", "spider"]
categories = ["web-programming"]
license = "MIT"
documentation = "https://docs.rs/spider"
edition = "2018"

[badges]
maintenance = { status = "as-is" }

[dependencies]
reqwest = { version = "0.11.10" }
scraper = "0.12"
robotparser-fork = "0.10.5"
url = "2.2"
rayon = "1.5"
num_cpus = "1.13.0"
tokio = { version = "^1.17.0", features = ["rt-multi-thread", "net", "macros"] }
