[package]
name = "spider"
version = "1.18.9"
authors = ["madeindjs <contact@rousseau-alexandre.fr>", "j-mendez <jeff@a11ywatch.com>"]
description = "Multithreaded web crawler written in Rust."
repository = "https://github.com/madeindjs/spider"
readme = "README.md"
keywords = ["crawler", "spider"]
categories = ["web-programming", "command-line-utilities"]
license = "MIT"
documentation = "https://docs.rs/spider"
edition = "2018"

[badges]
maintenance = { status = "as-is" }

[dependencies]
reqwest = { version = "0.11.11", features = ["brotli", "gzip", "native-tls-alpn"] }
scraper = "0.14"
url = "2.3.1"
tokio = { version = "^1.24.1", features = [ "rt-multi-thread", "net", "macros", "time" ] }
tokio-stream = "0.1.9"
hashbrown = { version = "0.12.3" }
log = "0.4.16"
percent-encoding = "2.1.0"
regex = { version = "^1.5.0", optional = true }
ua_generator = { git = "https://github.com/a11ywatch/ua_generator.git", version = "0.3.5", optional = true }
string_concat = "0.0.1"
lazy_static = "1.4.0"

[target.'cfg(all(not(windows), not(target_os = "android"), not(target_env = "musl")))'.dependencies]
tikv-jemallocator = { version = "0.5.0", optional = true }

[profile.release]
codegen-units = 1
lto = "fat"

[features]
default = ["ua_generator"]
regex = ["dep:regex"]
ua_generator = ["dep:ua_generator"]
jemalloc = ["tikv-jemallocator"]
