[package]
name = "benches"
version = "0.0.0"
publish = false
edition = "2021"

[dependencies]
spider = { version = "1.7.10", path = "../spider" }
criterion = "0.3"

[[bench]]
name = "crawl"
path = "crawl.rs"
harness = false